src/ChannelAdvisorAccess/Service References/FulfillmentService/FulfillmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.channeladvisor.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.channeladvisor.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.channeladvisor.com/webservices/">
      <s:element name="GetOrderFulfillmentDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderIDList" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="clientOrderIdentifierList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderFulfillmentDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderFulfillmentDetailListResult" type="tns:APIResultOfArrayOfOrderFulfillmentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfOrderFulfillmentResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfOrderFulfillmentResponse" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResultStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfOrderFulfillmentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderFulfillmentResponse" nillable="true" type="tns:OrderFulfillmentResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderFulfillmentResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentList" type="tns:ArrayOfFulfillmentDetailResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFulfillmentDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentDetailResponse" nillable="true" type="tns:FulfillmentDetailResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentDetailResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDateGMT" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdatedDateGMT" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributionCenterCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippedDateGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerFulfillmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfFulfillmentItemDetailResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFulfillmentItemDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentItemDetailResponse" nillable="true" type="tns:FulfillmentItemDetailResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentItemDetailResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentItemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineItemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteAuctionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleSourceID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="APICredentials" type="tns:APICredentials" />
      <s:complexType name="APICredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeveloperKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UpdateOrderFulfillments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientOrderIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fulfillmentUpdateList" type="tns:ArrayOfFulfillmentUpdateSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFulfillmentUpdateSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentUpdateSubmit" nillable="true" type="tns:FulfillmentUpdateSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentUpdateSubmit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippedDateGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerFulfillmentID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrderFulfillmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrderFulfillmentsResult" type="tns:APIResultOfArrayOfFulfillmentOperationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfFulfillmentOperationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfFulfillmentOperationResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFulfillmentOperationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentOperationResponse" nillable="true" type="tns:FulfillmentOperationResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentOperationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrderFulfillments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientOrderIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fulfillmentList" type="tns:ArrayOfFulfillmentCreateSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFulfillmentCreateSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentCreateSubmit" nillable="true" type="tns:FulfillmentCreateSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentCreateSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributionCenterCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceCost" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippedDateGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerFulfillmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfFulfillmentItemSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFulfillmentItemSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentItemSubmit" nillable="true" type="tns:FulfillmentItemSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentItemSubmit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentItemID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrderFulfillmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOrderFulfillmentsResult" type="tns:APIResultOfArrayOfFulfillmentOperationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFulfillmentItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientOrderIdentifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationFulfillmentID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceFulfillmentItemList" type="tns:ArrayOfFulfillmentItemSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFulfillmentItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveFulfillmentItemsResult" type="tns:APIResultOfArrayOfFulfillmentItemMoveResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfFulfillmentItemMoveResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfFulfillmentItemMoveResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFulfillmentItemMoveResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FulfillmentItemMoveResponse" nillable="true" type="tns:FulfillmentItemMoveResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FulfillmentItemMoveResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FulfillmentItemID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:APIResultOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderFulfillmentDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderFulfillmentDetailList" />
  </wsdl:message>
  <wsdl:message name="GetOrderFulfillmentDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderFulfillmentDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderFulfillmentDetailListAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderFulfillmentsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderFulfillments" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderFulfillmentsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderFulfillmentsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderFulfillmentsAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="CreateOrderFulfillmentsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrderFulfillments" />
  </wsdl:message>
  <wsdl:message name="CreateOrderFulfillmentsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrderFulfillmentsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrderFulfillmentsAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="MoveFulfillmentItemsSoapIn">
    <wsdl:part name="parameters" element="tns:MoveFulfillmentItems" />
  </wsdl:message>
  <wsdl:message name="MoveFulfillmentItemsSoapOut">
    <wsdl:part name="parameters" element="tns:MoveFulfillmentItemsResponse" />
  </wsdl:message>
  <wsdl:message name="MoveFulfillmentItemsAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="PingAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:portType name="FulfillmentServiceSoap">
    <wsdl:operation name="GetOrderFulfillmentDetailList">
      <wsdl:input message="tns:GetOrderFulfillmentDetailListSoapIn" />
      <wsdl:output message="tns:GetOrderFulfillmentDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderFulfillments">
      <wsdl:input message="tns:UpdateOrderFulfillmentsSoapIn" />
      <wsdl:output message="tns:UpdateOrderFulfillmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrderFulfillments">
      <wsdl:input message="tns:CreateOrderFulfillmentsSoapIn" />
      <wsdl:output message="tns:CreateOrderFulfillmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveFulfillmentItems">
      <wsdl:input message="tns:MoveFulfillmentItemsSoapIn" />
      <wsdl:output message="tns:MoveFulfillmentItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FulfillmentServiceSoap" type="tns:FulfillmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderFulfillmentDetailList">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderFulfillmentDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderFulfillmentDetailListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderFulfillments">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/UpdateOrderFulfillments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateOrderFulfillmentsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderFulfillments">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/CreateOrderFulfillments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateOrderFulfillmentsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFulfillmentItems">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/MoveFulfillmentItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MoveFulfillmentItemsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FulfillmentServiceSoap12" type="tns:FulfillmentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderFulfillmentDetailList">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderFulfillmentDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderFulfillmentDetailListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderFulfillments">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/UpdateOrderFulfillments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateOrderFulfillmentsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderFulfillments">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/CreateOrderFulfillments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateOrderFulfillmentsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFulfillmentItems">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/MoveFulfillmentItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MoveFulfillmentItemsAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FulfillmentService">
    <wsdl:port name="FulfillmentServiceSoap" binding="tns:FulfillmentServiceSoap">
      <soap:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/V7/FulfillmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="FulfillmentServiceSoap12" binding="tns:FulfillmentServiceSoap12">
      <soap12:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/V7/FulfillmentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>